---
import Slides from "@layouts/Slides.astro";
import config from "fooorum/db/config?raw";
import feed from "fooorum/src/components/feeds/Feed.astro?raw";
---

<Slides title="Fooorum Slides">
  <section>
    <h1>🇫ooorum</h1>
    <p>Ein simples Internetforum.</p>
    <aside class="notes">
      - Begrüßung<br />
      - Beschreibung
    </aside>
  </section>
  <section>
    <section>
      <h2>Demo</h2>
      <p><a href="https://fooorum.vercel.app">fooorum.vercel.app</a></p>
    </section>

    <section
      data-background-iframe="https://fooorum.vercel.app"
      data-background-interactive
    >
    </section>
  </section>
  <section>
    <section>
      <h2>Implementierung</h2>
      <p><a href="https://github.com/fooorum/fooorum">github.com/fooorum</a></p>
    </section>
    <section>
      <h3>Deklaration der Tabellen</h3>
      <pre>
        <code data-line-numbers="5-12|14-23|53-54" class="language-typescript" set:html={config} />
      </pre>
    </section>
    <section>
      <h3>Abfragen an die Datenbank</h3>
      <pre>
        <code data-line-numbers="62-76|77-78|79-82" class="language-typescript" set:html={feed} />
      </pre>
    </section>
    <section>
      <h3>Anzeigen der Daten</h3>
      <pre>
        <code data-line-numbers="120-122" class="language-html" set:html={feed} />
      </pre>
    </section>
  </section>
  <section>
    <h2>Vielen Dank für eure Aufmerksamkeit 🎉</h2>
  </section>
</Slides>

<style lang="scss">
  iframe {
    width: 700px;
    height: 300px;
  }
</style>
