---
import { Icon } from "astro-icon/components";
---

<span class="logo">
  <span class="icon"><Icon name="tabler:brand-foursquare" title="F" /></span
  ><span class="oo">oo</span><span class="o">o</span>r<span class="u">u</span>m
</span>

<style>
  .logo {
    color: #ce93d8;
  }

  .icon {
    margin-right: -2.2rem;
  }

  .oo {
    letter-spacing: -1.6rem;
  }

  .o {
    letter-spacing: -0.5rem;
  }

  .u {
    letter-spacing: -0.7rem;
  }
</style>
